/**
 * FloatNav Component Style for uxcore
 * @author vincent.bian
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__prefixCls: uxcore-float-nav;
.@{__prefixCls} {
  position: fixed;
  &-scroll-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    .line-circle {
      position: absolute;
      &-top {
        top: -15px;
        left: 6px;
      }
      &-bottom {
        bottom: -15px;
        left: 6px;
      }
      circle {
        stroke-width: 2px;
        stroke: @border-color;
        fill: #fff;
      }
    }
  }
  &-scroll-line {
    margin-left: 15px;
    width: 2px;
    height: 100%;
    background-color: @split-line-color;
  }
  &-container {
    margin-right: 40px;
    height: 100%;
    overflow: hidden;
  }
  &-content {
    margin-left: 15px;
    padding: 5px 0;
    font-size: 14px;
    transition: transform @transition-ease @transition-duration;
    .@{__prefixCls}-item {
      position: relative;
      line-height: 1.5; // padding-left: 16px;
      svg {
        position: absolute;
        left: -9px;
        top: 4px;
      }
      .item-circle-icon {
        fill: #A5AFBC;
        stroke: #fff;
      }
      .item-arrow-icon {
        fill: @brand-primary;
      }
      &-title {
        display: block;
        padding: 3px 0; // text-indent: .5em;
        color: @text-secondary-color;
        transition: all 0.2s ease;
        &:hover {
          // background-color: @bg-hover-color;
          color: @brand-primary;
          text-decoration: none;
        }
      }
      .@{__prefixCls}-item-title-active {
        color: @brand-primary;
        background-color: @brand-primary-alpha-7;
        position: relative;
        &:before {
          content: ' ';
          position: absolute;
          border-left: 2px solid @brand-primary;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }
  &-control {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    width: 17px;
    height: 31px;
    >a.kuma-button {
      position: absolute;
      cursor: pointer;
      text-decoration: none;
      width: 17px;
      height: 16px;
      line-height: 16px;
      padding: 0;
      display: block;
      font-family: kuma!important;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: .2px;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
    }
    &-prev {
      left: 0;
      top: 0;
      border-radius: 8px 8px 0 0;
      &:before {
        content: '\e613';
      }
      &:hover {
        z-index: 1;
      }
    }
    &-next {
      left: 0;
      bottom: 0;
      border-radius: 0 0 8px 8px;
      &:before {
        content: '\e614';
      }
    }
  }
  &.hoverable {
    background-color: #fff;
    border-radius: @popup-border-radius 0 0 @popup-border-radius;
    border: 1px solid @normal-alpha-7;
    box-shadow: @box-shadow-3;
    transform: translate3d(200px, 0, 0);
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
  }
  &-spot-circle {
    height: 4px;
    width: 4px;
    margin: 8px auto;
    border-radius: 2px;
    background-color: @normal-alpha-5;
    &-active {
      background-color: @brand-primary;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      margin: 6px auto;
    }
  }
  &-spot-wrap {
    width: 16px;
    background-color: #fff;
    border: 1px solid @normal-alpha-6;
    box-shadow: @box-shadow-2;
    position: fixed;
    right: 20px;
    z-index: 1;
    top: 50%;
    transition: ease .3s;
    .@{__prefixCls}-control {
      position: static;
      &-prev {
        width: 16px !important;
        left: -1px;
        top: -16px;
        border-color: @normal-alpha-6;
      }
      &-next {
        width: 16px !important;
        left: -1px;
        bottom: -16px;
        border-color: @normal-alpha-6;
      }
    }
  }
  &-spot-active {
    .@{__prefixCls}.hoverable {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
    .@{__prefixCls}-spot-wrap {
      visibility: hidden;
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }
  }
}